<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} Pagination Practice</title>
</head>

<body>

  <div class="container mx-auto">



    <div class="relative overflow-x-auto shadow-md sm:rounded-lg pt-12">
      <h1 class="text-5xl text-center py-8">Pagination Practice</h1>
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Id
            </th>
            <th scope="col" class="px-6 py-3">
              Product name
            </th>
            <th scope="col" class="px-6 py-3">
              Color
            </th>
            <th scope="col" class="px-6 py-3">
              Category
            </th>
            <th scope="col" class="px-6 py-3">
              Price
            </th>
            <th scope="col" class="px-6 py-3">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data; let i=index"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{ item.id }}
            </th>
            <td class="px-6 py-4">
              {{ item.productName }}
            </td>
            <td class="px-6 py-4">
              {{ item.color }}
            </td>
            <td class="px-6 py-4">
              {{ item.category }}
            </td>
            <td class="px-6 py-4">
              ${{ item.price }}
            </td>
            <td class="px-6 py-4 text-right">
              <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Since the data initially gets fetched from the api, so the "*ngIf" directive will ensure that data gets passed to the child component actually. SolutionRef: https://www.youtube.com/watch?v=ZVN6Wdy92ek -->
    <app-pagination *ngIf="productCount > 0" [totalProducts]="productCount" [nextPage]="next" [previousPage]="previous"
      [limitPerPage]="limitPerPage" (onClick)="pageChangeEvent($event)"></app-pagination>

  </div>

</body>

</html>